/*body{
    background-color: bisque;
}*/

/*NAVBAR*/
.navbar {
    height: 5rem;
    background-color: rgb(254, 254, 254);
}

.fa-compass{
    color: #fe424d;
    font-size: 2.4rem;
}

.nav-link{
    color:#222222 !important;
}

/*FOOTER*/
.f-info-links a{
    text-decoration: none;
    color:#222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links{
    width:100%;
}

.f-info-socials{
    width:100%;
    font-size: 1.5rem;
}

.f-info{
    text-align: center;
    height: 2rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-socials{
    width:100%;
    font-size: 1.5rem;
}